<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app/css/base.css">

    <!--Google Fonts - spline sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">

    <!--Google Fonts - black han sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<body>
    <header class="global-header">
        <div class="global-header logo">
            <img src="/static/app/assets/logo_dom_de_deus.png" alt="logo-dom-de-deus" height="200" width="180">
        </div>

        <div class="global-header main-title">
            <p>Instituto</p>
            <h1>Dom de Deus</h1>
        </div>

        <div class="global-header social-shares">
            <div class="social-shares header">
                <p class="social-shares follow-us">Siga-nos: </p>
                <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/static/app/assets/instagram.png" alt="logo do instagram, click para seguir-nos"></a><!--Insta-->
                <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/static/app/assets/facebook.png" alt="logo do facebook, click para seguir-nos"></a><!--FB-->
                <a href="https://www.youtube.com/@institutodomdedeus1122" target="_blank"><img class="social-shares youtube-social" src="/static/app/assets/youtube.png" alt="logo do youtube, click para seguir-nos"></a><!--YT-->
            </div>          
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/institucional/">Institucional</a></li>
                <li><a href="/programas_projetos/">Programas e Projetos</a></li>
                <li><a href="/transparencia/">Transparência</a></li>
                <li><a href="/seja_voluntario/">Seja Voluntário</a></li>
                <li><a href="/loja/">Loja</a></li>
                <li><a href="/patrocinio/">Patrocínio</a></li>
                <li><a href="/fale_conosco/">Fale Conosco</a></li>
                <li><a href="/apoie/">Apoie-nos</a></li>
            </ul>
        </nav>      
    </header>

    <main class="global-content">
        <div class="container mt-4">
            <img src="/static/app/assets/alunas_musica_inicio.png" class="img-fluid" alt="meninas tocando instrumentos">
        </div>
        <div class="container-stud mt-0">
            <h1 class="display-3">Conheça nosso trabalho:</h1>
        </div>
        <div>
            <h1>Sobre Nós</h1>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/sobre_nos.png" class="img-fluid rounded-start" alt="crianca na escola">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">O Instituto Dom de Deus foi fundado por Mylena Cavalcanti, quando tinha 15 anos de idade. Sempre foi meta transformar a realidade de crianças e adolescentes, gerando oportunidades através da educação, cultura, esportes e lazer. Trabalhamos incansavelmente para melhorar os nossos objetivos, alcançando cada vez mais o nosso público-alvo. Contamos com o apoio de voluntários, parceiros e familiares de alunos que abraçam a nossa causa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>O que fazemos?</h1>
            <!--atividades educativas - text esq-->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/atividades_educativas.png" class="img-fluid rounded-start" alt="atividades educativas">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Atividades educativas</h5>
                            <p class="card-text">Nas atividades educativas, temos aulas de alfabetização e letramento, clube de leitura, inserção de crianças em escolas privadas parceiras e jovens na universidade, onde estudam de forma gratuita, gerando oportunidade de profissionalização e ampliando o leque da aprendizagem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--atividades musicais e culturais - text esq-->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/atividades_musicais_cultirais.png" class="img-fluid rounded-start" alt="atividades musicais e culturais">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Atividades musicais e culturais</h5>
                            <p class="card-text">Atuamos com atividades educacionais, culturais e esportivas para crianças e adolescentes em situação de vulnerabilidade social, bem como o acompanhamento de suas famílias. São mais de 10 instrumentos musicais, ginástica rítmica, capoeira, ballet e diversas outras atividades. As turmas viajam para apresentações em diversos locais, sempre que convidados.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--negocios sociais -text esq-->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/negocios_sociais.png" class="img-fluid rounded-start" alt="negocios sociais">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Negócios Sociais</h5>
                            <p class="card-text">Os negócios sociais são fonte de renda para assistidos e também para a Instituição. O trabalho com as mulheres chefes de família é uma de nossas atividades para fortalecer a base familiar de nossos assistidos. Temos a Panificadora Gourmet Flores do Cajueiro e a Estamparia DDD.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--biblioteca comunitaria - text esq-->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/biblioteca_comunitaria.png" class="img-fluid rounded-start" alt="biblioteca comunitária">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Biblioteca comunitária</h5>
                            <p class="card-text">Em parceria com o Instituto Cultive Suiça Brasil, temos o Centro Cultural Cultive, que atua com pintura, desenho, leituras mediadas, empréstimo de livros e contação de histórias, despertando assim, o interesse pela leitura e aprimorando a interpretação em seus mais diversos âmbitos, explorando os gêneros textuais como base de partilha.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p><a href="/programas_projetos/">Programas e Projetos</a></p>
        <div>
            <h1>Missão, visão e valores</h1>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/missao.png" class="img-fluid rounded-start" alt="missão">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Missão</h5>
                            <p class="card-text">Transformar vidas através da educação integral, visando valores baseados nos princípios éticos e morais para a formação de uma sociedade mais justa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/visao.png" class="img-fluid rounded-start" alt="visão">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Visão</h5>
                            <p class="card-text">Ser um ponto de apoio para famílias em vulnerabilidade social, tornando-nos um marco referencial em resultados de superação.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/app/assets/valores.png" class="img-fluid rounded-start" alt="valores">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Valores</h5>
                            <p class="card-text">Igualdade; cidadania; acolhimento; amor; solidariedade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>Participe</h1>
            <div class="card mb-3">
                <img src="/static/app/assets/participe.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Faça parte do movimento de mudança e junte-se a nós na missão de oferecer um futuro brilhante para nossas crianças!</p>
                  <p></p><a href="/seja_voluntario/">Saiba mais</a></p>
                </div>
            </div>
        </div>
    </main>

    <footer class="global-footer">

        <div class="global-footer qrcode-donate">
            <h1>Doe:</h1>
            <img src="/static/app/assets/qr_donation.png" alt="qr code para doacao" height="200" width="180">
        </div>

        <div class="global-footer contact-us">
            <h1>Contate-nos:</h1>
            <div id="contacts">
                <img src="/static/app/assets/whatsapp_Vector.png" alt="logo do whatsapp"><span> +55 (81) 8602-2187</span>
                <img src="/static/app/assets/mail_vector.png" alt="logo de um envelope"><span>institutodomdedeus@gmail.com</span>
            </div>
            <p>Rua Manoel Gomes, n° 66, Cajueiro, Vitória de Santo Antão-PE <br>
            <span style="font-weight: bold;">Promoção social de crianças, adolescentes e suas famílias através da educação, cultura e geração de renda.</span><br>
            Atendimento ao público: segunda a sexta-feira das 9h às 17h.
            </p>
        </div>

        <div class="global-footer social-shares">
            <div class="social-shares footer">
                <p>Siga-nos: </p>
                <div class="social-shares icons" style="padding: 0;">
                    <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/static/app/assets/instagram _footer.png" alt="logo do instagram, click para seguir-nos" style="padding: 0;"></a><!--Insta-->
                    <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/static/app/assets/facebook_footer.png" alt="logo do facebook, click para seguir-nos" style="padding: 0;"></a><!--FB-->
                    <a href="https://www.youtube.com/@institutodomdedeus1122" target="_blank"><img class="social-shares youtube-social" src="/static/app/assets/youtube_footer.png" alt="logo do youtube, click para seguir-nos" style="padding: 0;"></a><!--YT-->
                </div>
            </div>     
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>