<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institucional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app/css/base.css">

    <!--Google Fonts - spline sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">

    <!--Google Fonts - black han sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<body>
    <header class="global-header">
        <div class="logo">
            <img src="/static/app/assets/logo_dom_de_deus.png" alt="logo-dom-de-deus" height="200" width="180">
        </div>

        <div class="main-title">
            <p>Instituto</p>
            <h1>Dom de Deus</h1>
        </div>

        <div class="social-shares">
            <div class="header">
                <p class="follow-us">Siga-nos: </p>
                <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/static/app/assets/instagram.png" alt="logo do instagram, click para seguir-nos"></a><!--Insta-->
                <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/static/app/assets/facebook.png" alt="logo do facebook, click para seguir-nos"></a><!--FB-->
                <a href="https://www.youtube.com/@institutodomdedeus1122" target="_blank"><img class="social-shares youtube-social" src="/static/app/assets/youtube.png" alt="logo do youtube, click para seguir-nos"></a><!--YT-->
            </div>          
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/institucional/">Institucional</a></li>
                <li><a href="/programas_projetos/">Programas e Projetos</a></li>
                <li><a href="/transparencia/">Transparência</a></li>
                <li><a href="/seja_voluntario/">Seja Voluntário</a></li>
                <li><a href="/loja/">Loja</a></li>
                <li><a href="/patrocinio/">Patrocínio</a></li>
                <li><a href="/fale_conosco/">Fale Conosco</a></li>
                <li><a href="/apoie/">Apoie-nos</a></li>
            </ul>
        </nav>

    </header>
    <div style="height: 70px;"></div>
    <main class="global-content">
        <div class="page-name">
            <h1>Institucional</h1>      
        </div>
        <div class="institutional">
            <div class="institutional container mt-5 pt-5">
                <div>
                    <h5>Sobre o Instituto Dom de Deus</h5>
                    <p>O Instituto Dom de Deus é uma organização social de direito privado (Não Governamental), sem fins lucrativos e econômicos. É não partidário. Tem sede na Rua Manoel Gomes, nº 66- Cajueiro, CEP. 55607-360, na periferia de Vitória de Santo Antão, Mata Sul do Estado de Pernambuco. O INSTITUTO DOM DE DEUS, também designado pela sigla DDD, têm objetivos culturais, educacionais, esportivos e democráticos.</p>
                    <p>A finalidade do DDD é congregar pessoas, crianças e adolescentes, com o propósito de promover atividades direcionadas à educação de um modo geral e ao desporto com o objetivo de conscientização e valorização da vida humana, visando sempre atividades socioeducativas relacionadas a cultura adequando-os para a promoção nas diversas atividades como: teatro, ballet, flauta, dança, ginástica, desenho, violão, futebol, informática, artesanato e nas atividades escolares. Também serão suas finalidades precípuas, não exclusivamente:</p>
                    <ol class="roman-list">
                        <li>Execução de serviço de radiodifusão sonora, com finalidade educativa, artística, cultural e informativa, respeito aos valores éticos e sociais, em benefício do desenvolvimento geral da comunidade, mediante concessão, permissão ou autorização de exploração de radiodifusão comunitária de acordo com a legislação específica;</li>
                        <li>Promoção da assistência social às minorias e excluídos, combate à pobreza através da música, do desenvolvimento artístico cultural e do auxílio de atividades escolares;</li>
                        <li>Promoção gratuita da educação musical, esportiva, artesanal, educativa;</li>
                        <li>Promoção da ética, da paz, da cidadania, dos direitos humanos, da democracia e de outros valores universais.</li>
                        <li>Prevenção das crianças e jovens, evitando o envolvimento com álcool, outras drogas e tantos outros males oferecidos.</li>
                        <li>A inclusão social das camadas menos favorecidas da sociedade com programas que visem a melhoria da qualidade de vida.</li>
                        <li>Promoção de ações para proteger as crianças e adolescentes que se encontrem em situação de violência física, psicológica, doméstica, sexual entre outras.</li>
                        <li>Criar e manter, de acordo com as possibilidades da ONG, programas de caráter filantrópico e beneficente, de natureza educacional, cultural e assistencial, tais como os de amparo à crianças, dependência química, adolescentes, família e a pobreza, a todos atendendo sem distinção de classe, raça, sexo, nacionalidade ou religião.</li>
                        <li>Outras atividades compatíveis com as finalidades da entidade.</li>
                        <li>Execução de programas vinculados com o seu objetivo social.</li>
                        <li>Programa de geração de renda para a Instituição e famílias assistidas pela ONG.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="photo-endlist-container">
            <div class="container mt-4">
                <img src="/static/app/assets/institucional.png" class="img-fluid" alt="meninos se exercitando" height="600px" width="800px">
            </div>
        </div>
        <hr>
        <div class="da-administracao">
            <h1>Da administração</h1>     
            <div class="art-12">
                <div class="institutional container mt-5 pt-5">
                    <div>
                        <p><b>Art. 12</b> - O Instituto será administrado por:</p>
                        <ol class="roman-list">
                            <li>Assembleia Geral;</li>
                            <li>Diretoria Executiva;</li>
                            <li>Conselho Fiscal.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="art-13">
                <div class="institutional container mt-5 pt-5">
                    <div>
                        <p><b>Art. 13</b> - A Assembleia Geral é órgão soberano da instituição, a qual será constituída pelos associados em pleno gozo de seus direitos estatutários.</p>
                        <!-- <ol class="roman-list"> no caso de ativar alguma lista ordenada por aqui
                            <li>Assembleia Geral;</li>
                            <li>Diretoria Executiva;</li>
                            <li>Conselho Fiscal.</li>
                        </ol> -->
                    </div>
                </div>
            </div>
            <div class="art-14">
                <div class="institutional container mt-5 pt-5">
                    <div>
                        <p><b>Art. 14</b> - Compete à Assembleia Geral:</p>
                        <ol class="roman-list">
                            <li>Eleger a Diretoria e o Conselho Fiscal;</li>
                            <li>Destituir os administradores;</li>
                            <li>Apreciar recursos contra decisões da Diretoria;</li>
                            <li>Decidir sobre reformas do estatuto;</li>
                            <li>Conceder o título de associado benemérito e honorário por proposta da diretoria;</li>
                            <li>Decidir sobre a conveniência de alienar, transigir, hipotecar ou permutar bens patrimoniais;</li>
                            <li>Decidir sobre a extinção da entidade, nos termos do artigo 36;</li>
                            <li>Prestar e aprovar as contas;</li>
                            <li>Aprovar o regimento interno;</li>
                            <li>Homologar a composição do Conselho de Entidades Comunitárias e discussão de assuntos Gerais da Entidade.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="photo-endlist-container">
                <div class="container mt-4">
                    <img src="/static/app/assets/administracao.png" class="img-fluid" alt="pessoas reunidas" height="600px" width="800px">
                </div>
            </div>
        </div>
        <hr>
        <div class="historia">
            <h1>História do Instituto Dom de Deus</h1>
            <div class="photo-history-container">
                <div class="container mt-4">
                    <!-- Parágrafo de texto -->
                    <p class="text-justify">
                        A adolescente Mylena Cavalcanti, então com 15 anos, foi convidada pela Sociedade São Vicente de Paulo a assumir uma turma de crianças para dar ensinamento sobre a mesma. Ela alegou que sabia tocar flauta e gostaria de ensinar para as crianças. Ciente disso, o então líder do grupo, ficou com a responsabilidade de recrutar as crianças. Foram 19 alunos inicialmente com as aulas de flauta, o que passou a chamar atenção da comunidade, aumentando o número de alunos rapidamente. No dia 11 de dezembro de 2014, nasce a primeira aula que deu origem ao nosso Instituto.</p>
                    <!-- Imagem -->
                    <img src="/static/app/assets/alunas_tocando_flauta.png" class="img-fluid" alt="meninas tocando flauta" height="600px" width="800px">
                </div>
            </div>     
        </div>
        <div class="mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/app/assets/meninos_flauta.png" class="img-fluid rounded-start" alt="crianca na escola">
                </div>
                <div class="col-md-8">
                    <div>
                        <p>
                            Com a aprendizagem das crianças, conseguimos flautas profissionais, as primeiras delas doadas pela Empresa Verdão Distribuidora e pelo Rotary Club, que doou também as primeiras fardas.
                            <br><br>
                            Nasce então o Projeto Social Dom de Deus, nome dado por Mauricéia Gomes. A quantidade de alunos aumentou, não cabendo mais no salão da Igreja, pois precisávamos de mais dias, e a Igreja tem suas programações, não tendo horários disponíveis. Começamos a ter aulas nas praças, em garagens emprestadas, na escola nos fins de semana, no terreno que estávamos tentando conquistar e galpões. O projeto passou a contar com a ajuda de mais pessoas. Voluntários e professores.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/app/assets/meninos_lote.png" class="img-fluid rounded-start" alt="crianca na escola">
                </div>
                <div class="col-md-8">
                    <div>
                        <p>
                            No ano de 2016, invadimos um espaço na comunidade e fizemos um apelo para o tornar nosso. Palavra pesada né? Mas foi isso mesmo.
                            <br><br>
                            Um espaço da prefeitura para fazer a sede do projeto e assim fornecer aulas com mais dignidade às nossas crianças. Começou a luta para conseguir o terreno legalizado, material de construção e mão de obra. Lembrar disso faz a gente se emocionar. Foram tantas pessoas a ajudar, um a um. Bingos, bazar, rifas e a solidariedade de quem tem bom coração, mas isso não foi suficiente para terminar a nossa obra, pois as coisas não estavam fáceis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div>
                    <img src="/static/app/assets/ruina.png" class="img-fluid" alt="Descrição da imagem 1">
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="/static/app/assets/meninos_constucao.png" class="img-fluid" alt="Descrição da imagem 2">
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col">
                    <p class="text-justify">
                        No fim do ano de 2018, mais voluntários abraçaram a causa e então, nos tornamos uma ONG. O trabalho passou a ser ainda maior. No ano de 2019 atingimos 63 crianças e passamos a ter aulas de teclado.
                    </p>
                    <p class="text-justify">
                        Em 2020, passamos a ter ainda mais professores, mais instrumentos. Violão, artesanato, violino, ukulele, inglês, espanhol, alfabetização, canto, percussão, clube de leitura, pintura.
                    </p>
                    <p class="text-justify">
                        Quando menos esperamos, veio a pandemia, dificultando a nossa execução. Conseguimos uma casa emprestada, onde passamos a atender os alunos de maneira restritiva, começamos uma campanha gigante de arrecadação de alimento, pois faltava o básico na casa de muitos dos nossos. Conseguimos mais de 2 toneladas de alimento e abastecemos muitas famílias. A solidariedade mais uma vez foi distribuída pelo Instituto Dom de Deus. Aproveitamos para expressar a nossa gratidão a todos que doaram.
                    </p>
                    <p class="text-justify">
                        Não paramos os trabalhos. Com a reabertura, aumentamos ainda mais o número de alunos. Em 2021, chegamos à 148, e mais mãos abraçaram a causa.
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <!-- Imagem -->
            <img src="/static/app/assets/entregando_alimento.png" class="img-fluid" alt="meninas tocando flauta" height="600px" width="800px">
        </div>
        <div class="container mt-4">
            <p class="text-justify">
                Passamos a ter aulas de teatro, alfabetização para adultos, dança, capoeira, matemática básica, redação, ballet. Deus do Céu, é muita alegria e satisfação em abraçar ainda mais crianças, adolescentes e suas famílias.
            </p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div>
                    <img src="/static/app/assets/aula_1.png" class="img-fluid" alt="Descrição da imagem 1">
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="/static/app/assets/aula_2.png" class="img-fluid" alt="Descrição da imagem 2">
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <p class="text-justify">
                No dia 20 de abril de 2021, recebemos anjos. Sim, anjos. A notícia que mais sonhávamos, dignidade para os nossos. Recebemos às 9h45min, na sede do Instituto: Lucinalva Moura e seu pai Luiz Moura, que com muita bondade e simplicidade, conheceram o nosso espaço e disseram que terminariam a nossa obra. Mylena e Marcelo estavam lá para recebê-los. Não deu para conter as lágrimas e a emoção do tão sonhado espaço próprio. E não foi só isso. O Sr. Moura, em sua enorme bondade, disse que iria mobiliar toda a sede e ajudar sempre em tudo que precisássemos. Sim, Deus tem anjos na terra, e esses são os nossos.
            </p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div>
                    <img src="/static/app/assets/fachada_1.png" class="img-fluid" alt="Descrição da imagem 1">
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="/static/app/assets/fachada_2.png" class="img-fluid" alt="Descrição da imagem 2">
                </div>
            </div>
    </main>
    
    <!-- FOOTER -->
    <footer class="global-footer">

        <div class="qrcode-donate">
            <h1>Doe:</h1>
            <img src="/static/app/assets/qr_donation.png" alt="qr code para doacao" height="200" width="180">
        </div>

        <div class="contact-us">
            <h1>Contate-nos:</h1>
            <div id="contacts">
                <img src="/static/app/assets/whatsapp_Vector.png" alt="logo do whatsapp"><span> +55 (81) 8602-2187</span>
                <img src="/static/app/assets/mail_vector.png" alt="logo de um envelope"><span>institutodomdedeus@gmail.com</span>
            </div>
            <p>Rua Manoel Gomes, n° 66, Cajueiro, Vitória de Santo Antão-PE <br>
            <span style="font-weight: bold;">Promoção social de crianças, adolescentes e suas famílias através da educação, cultura e geração de renda.</span><br>
            Atendimento ao público: segunda a sexta-feira das 9h às 17h.
            </p>
        </div>

        <div class="social-shares">
            <div class="footer">
                <p>Siga-nos: </p>
                <div class="social-shares icons" style="padding: 0;">
                    <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/static/app/assets/instagram _footer.png" alt="logo do instagram, click para seguir-nos" style="padding: 0;"></a><!--Insta-->
                    <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/static/app/assets/facebook_footer.png" alt="logo do facebook, click para seguir-nos" style="padding: 0;"></a><!--FB-->
                    <a href="https://www.youtube.com/@institutodomdedeus1122" target="_blank"><img class="social-shares youtube-social" src="/static/app/assets/youtube_footer.png" alt="logo do youtube, click para seguir-nos" style="padding: 0;"></a><!--YT-->
                </div>
            </div>     
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>