<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institucional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app/css/base.css">

    <!--Google Fonts - spline sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">

    <!--Google Fonts - black han sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<body>
    <header class="global-header">
        <div class="global-header logo">
            <img src="/static/app/assets/logo_dom_de_deus.png" alt="logo-dom-de-deus" height="200" width="180">
        </div>

        <div class="global-header main-title">
            <p>Instituto</p>
            <h1>Dom de Deus</h1>
        </div>

        <div class="global-header social-shares">
            <div class="social-shares header">
                <p class="social-shares follow-us">Siga-nos: </p>
                <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/static/app/assets/instagram.png" alt="logo do instagram, click para seguir-nos"></a><!--Insta-->
                <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/static/app/assets/facebook.png" alt="logo do facebook, click para seguir-nos"></a><!--FB-->
                <a href="https://www.youtube.com/@institutodomdedeus1122" target="_blank"><img class="social-shares youtube-social" src="/static/app/assets/youtube.png" alt="logo do youtube, click para seguir-nos"></a><!--YT-->
            </div>          
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/institucional/">Institucional</a></li>
                <li><a href="/programas_projetos/">Programas e Projetos</a></li>
                <li><a href="/transparencia/">Transparência</a></li>
                <li><a href="/seja_voluntario/">Seja Voluntário</a></li>
                <li><a href="/loja/">Loja</a></li>
                <li><a href="/patrocinio/">Patrocínio</a></li>
                <li><a href="/fale_conosco/">Fale Conosco</a></li>
                <li><a href="/apoie/">Apoie-nos</a></li>
            </ul>
        </nav>

    </header>
    <div style="height: 70px;"></div>
    <main class="global-content">
        <div class="page-name">
            <h1>Institucional</h1>      
        </div>
        <div class="institutional">
            <div class="institutional container mt-5 pt-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sobre o Instituto Dom de Deus</h5>
                        <p class="card-text">O Instituto Dom de Deus é uma organização social de direito privado (Não Governamental), sem fins lucrativos e econômicos. É não partidário. Tem sede na Rua Manoel Gomes, nº 66- Cajueiro, CEP. 55607-360, na periferia de Vitória de Santo Antão, Mata Sul do Estado de Pernambuco. O INSTITUTO DOM DE DEUS, também designado pela sigla DDD, têm objetivos culturais, educacionais, esportivos e democráticos.</p>
                        <p class="card-text">A finalidade do DDD é congregar pessoas, crianças e adolescentes, com o propósito de promover atividades direcionadas à educação de um modo geral e ao desporto com o objetivo de conscientização e valorização da vida humana, visando sempre atividades socioeducativas relacionadas a cultura adequando-os para a promoção nas diversas atividades como: teatro, ballet, flauta, dança, ginástica, desenho, violão, futebol, informática, artesanato e nas atividades escolares. Também serão suas finalidades precípuas, não exclusivamente:</p>
                        <ol class="roman-list">
                            <li>Execução de serviço de radiodifusão sonora, com finalidade educativa, artística, cultural e informativa, respeito aos valores éticos e sociais, em benefício do desenvolvimento geral da comunidade, mediante concessão, permissão ou autorização de exploração de radiodifusão comunitária de acordo com a legislação específica;</li>
                            <li>Promoção da assistência social às minorias e excluídos, combate à pobreza através da música, do desenvolvimento artístico cultural e do auxílio de atividades escolares;</li>
                            <li>Promoção gratuita da educação musical, esportiva, artesanal, educativa;</li>
                            <li>Promoção da ética, da paz, da cidadania, dos direitos humanos, da democracia e de outros valores universais.</li>
                            <li>Prevenção das crianças e jovens, evitando o envolvimento com álcool, outras drogas e tantos outros males oferecidos.</li>
                            <li>A inclusão social das camadas menos favorecidas da sociedade com programas que visem a melhoria da qualidade de vida.</li>
                            <li>Promoção de ações para proteger as crianças e adolescentes que se encontrem em situação de violência física, psicológica, doméstica, sexual entre outras.</li>
                            <li>Criar e manter, de acordo com as possibilidades da ONG, programas de caráter filantrópico e beneficente, de natureza educacional, cultural e assistencial, tais como os de amparo à crianças, dependência química, adolescentes, família e a pobreza, a todos atendendo sem distinção de classe, raça, sexo, nacionalidade ou religião.</li>
                            <li>Outras atividades compatíveis com as finalidades da entidade.</li>
                            <li>Execução de programas vinculados com o seu objetivo social.</li>
                            <li>Programa de geração de renda para a Instituição e famílias assistidas pela ONG.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="photo-endlist-container">
            <div class="container mt-4">
                <img src="/static/app/assets/institucional.png" class="img-fluid" alt="meninos se exercitando" height="600px" width="800px">
            </div>
        </div>
        <hr>
        <div class="da-administracao">
            <h1>Da administração</h1>     
            <div class="art-12">
                <div class="institutional container mt-5 pt-5">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><b>Art. 12</b> - O Instituto será administrado por:</p>
                            <ol class="roman-list">
                                <li>Assembleia Geral;</li>
                                <li>Diretoria Executiva;</li>
                                <li>Conselho Fiscal.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="art-13">
                <div class="institutional container mt-5 pt-5">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><b>Art. 13</b> - A Assembleia Geral é órgão soberano da instituição, a qual será constituída pelos associados em pleno gozo de seus direitos estatutários.</p>
                            <!-- <ol class="roman-list"> no caso de ativar alguma lista ordenada por aqui
                                <li>Assembleia Geral;</li>
                                <li>Diretoria Executiva;</li>
                                <li>Conselho Fiscal.</li>
                            </ol> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="art-14">
                <div class="institutional container mt-5 pt-5">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><b>Art. 14</b> - Compete à Assembleia Geral:</p>
                            <ol class="roman-list">
                                <li>Eleger a Diretoria e o Conselho Fiscal;</li>
                                <li>Destituir os administradores;</li>
                                <li> Apreciar recursos contra decisões da Diretoria;</li>
                                <li> Decidir sobre reformas do estatuto;</li>
                                <li> Conceder o título de associado benemérito e honorário por proposta da diretoria;</li>
                                <li> Decidir sobre a conveniência de alienar, transigir, hipotecar ou permutar bens patrimoniais;</li>
                                <li> Decidir sobre a extinção da entidade, nos termos do artigo 36;</li>
                                <li> Prestar e aprovar as contas;</li>
                                <li> Aprovar o regimento interno;</li>
                                <li> Homologar a composição do Conselho de Entidades Comunitárias e discussão de assuntos Gerais da Entidade.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo-endlist-container">
                <div class="container mt-4">
                    <img src="/static/app/assets/administracao.png" class="img-fluid" alt="pessoas reunidas" height="600px" width="800px">
                </div>
            </div>
        </div>
        <hr>
        <div class="historia">
            <h1>História do Instituto Dom de Deus</h1>

        </div>
  
    </main>
    <!-- FOOTER -->
    <footer class="global-footer">

        <div class="global-footer qrcode-donate">
            <h1>Doe:</h1>
            <img src="/static/app/assets/qr_donation.png" alt="qr code para doacao" height="200" width="180">
        </div>

        <div class="global-footer contact-us">
            <h1>Contate-nos:</h1>
            <div id="contacts">
                <img src="/static/app/assets/whatsapp_Vector.png" alt="logo do whatsapp"><span> +55 (81) 8602-2187</span>
                <img src="/static/app/assets/mail_vector.png" alt="logo de um envelope"><span>institutodomdedeus@gmail.com</span>
            </div>
            <p>Rua Manoel Gomes, n° 66, Cajueiro, Vitória de Santo Antão-PE <br>
            <span style="font-weight: bold;">Promoção social de crianças, adolescentes e suas famílias através da educação, cultura e geração de renda.</span><br>
            Atendimento ao público: segunda a sexta-feira das 9h às 17h.
            </p>
        </div>

        <div class="global-footer social-shares">
            <div class="social-shares footer">
                <p>Siga-nos: </p>
                <div class="social-shares icons" style="padding: 0;">
                    <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/static/app/assets/instagram _footer.png" alt="logo do instagram, click para seguir-nos" style="padding: 0;"></a><!--Insta-->
                    <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/static/app/assets/facebook_footer.png" alt="logo do facebook, click para seguir-nos" style="padding: 0;"></a><!--FB-->
                    <a href="https://www.youtube.com/@institutodomdedeus1122" target="_blank"><img class="social-shares youtube-social" src="/static/app/assets/youtube_footer.png" alt="logo do youtube, click para seguir-nos" style="padding: 0;"></a><!--YT-->
                </div>
            </div>     
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>